<div class="example-header">
    <h1 align="center">EXÁMENES</h1>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar exámen">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del exámen</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="infoAdicional">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Información adicional </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.infoAdicional}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button color="accent" (click)="eliminarEx(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <br />
    <button mat-raised-button color="accent" type="button" style="float: right" (click)="abrirDialogo()">
        Agregar exámen<mat-icon>playlist_add</mat-icon>
    </button>
    <button mat-raised-button color="primary" type="button" style="float: right" 
        routerLink="/consultas">
        Volver a consultas<mat-icon>assignment_return</mat-icon>
    </button>
</div>